@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  background-image: url("https://cdn.pixabay.com/photo/2018/09/22/10/03/dress-form-3694871_960_720.png");
  background-size: auto;
  background-repeat: round;
  background-position: 50% 100%;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  font-weight: 600;
}

p {
  font-family: "Lato";
  font-weight: 300;
}

label {
  font-family: "Lato";
  font-weight: 400;
}

.app {
  backdrop-filter: blur(4px) saturate(120%) brightness(90%);
  height: 100vh;
  background-color: rgba(170, 170, 170, 0.185);
  min-height: 100vh;
}

@media (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
}
