@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;600;700&display=swap");

body {
  background-image: linear-gradient(
      to bottom,
      rgba(77, 7, 30, 0.308),
      rgba(58, 7, 24, 0.184)
    ),
    url("https://cdn.pixabay.com/photo/2018/09/22/10/03/dress-form-3694871_960_720.png");
  background-size: auto;
  background-position: 50% -70%;
  overflow-y: hidden;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  font-weight: 600;
}

p {
  font-family: "Lato";
  font-weight: 300;
}

label {
  font-family: "Lato";
  font-weight: 400;
}

@media (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
}
